.title-text {
    text-align: center;
}

.button-main:active {
    background: lightcoral;
}

.button-container {
    width: 750px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.button-main {
    display: inline-block;
    min-width: 150px;
    height: 50px;
    line-height: 50px;
    position: relative;
    border: 1px solid white;
    padding: 0 1rem;
}

.contacts-button {
    margin: 0 auto;
    display: block;
    padding: 0.5em 1.5em;
    border-radius: 0.4em;
    min-width: 100px;
}
